@ charset "UTF-8"
 

:root {
    --cor0: #AEEEED;
    --cor1: #65EBE8;
    --cor2: #4FB8B7;
    --cor3: #527070;
    --cor4: #2E6B6A;

}
header {

}
body {

}
h1 {
    
}
h2 {

}
article {

}
aside{

}